@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Azeret Mono;

/* navbar section starts here */
.navbar{
    padding: 35px 160px;
    display: flex;
    justify-content: space-between;
}
.navbar h1{
    font-size: 28px;
    font-weight: 800;
    margin-top: 10px;
}
.download-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
}
/* navbar section ends here */

/* banner section starts here */
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 221px;
}
.banner-container{
    text-align: center;
}
.banner-container h1{
    font-size: 40px;
    font-weight: 800;
    margin: 32px 0px 24px 0px;
}
.banner-container p{
    color: rgb(13, 19, 33);
    margin: 0px 120px;
}
.banner-btn{
    margin: 32px 0px 44px 0px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: black;
    color: white;
}
/* banner section ends here */

/* why web development section starts here */
.why-web-development{
    margin: 90px 170px;
    padding: 80px 150px;
    background-color:rgb(246, 246, 247);
}
.why-container{
    text-align: center;
}
.why-container h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.card1{
    padding: 50px 60px;
    margin-top: 50px;
    display: flex;
    background-color: white;
}
.card1-content{
    width: 62%;
}
.card1-content h3{
    font-size: 28px;
    font-weight: 700;
}
.card1-content p{
    margin: 25px 0px 32px 0px;;
}
.why-btn{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
}
.card1-image{
    width: 38%;
    text-align: right;
}
.card2{
    padding: 50px 60px;
    margin-top: 50px;
    display: flex;
    background-color: white;
}
.card2-content{
    width: 62%;
}
.card2-content h3{
    font-size: 28px;
    font-weight: 700;
}
.card2-content p{
    margin: 25px 0px 32px 0px;;
}
.card2-image{
    width: 38%;
    text-align: left;}
/* why web development section ends here */

/* my inspiration section starts here */
.my-inspiration{
    margin: 80px 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-inspiration-content{
    text-align: center;
    margin: 0px 150px 50px 150px;
}
.my-inspiration-content h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.video{
    padding: 35px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    width: fit-content;
}
.video iframe{
    border-radius: 16px;
}
/* my inspiration section ends here */

/* my target section starts here */
.my-target{
    margin: 90px 170px;
}
.my-target-content{
    text-align: center;
    margin: 0px 150px 50px 150px;
}
.my-target h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.my-target-box-container{
    display: flex;
    justify-items: center;
    gap: 30px;
    padding: 0px 30px;
}
.my-target-box1{
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.my-target-box2{
    padding: 40px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}
.my-target-box3{
    padding: 40px;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
}
.my-target-box1 h3{
    margin: 25px 0px;
    font-size: 25px;
    font-weight: 800;
}
.my-target-box2 h3{
    margin: 25px 0px;
    font-size: 25px;
    font-weight: 800;
}
.my-target-box3 h3{
    margin: 25px 0px;
    font-size: 25px;
    font-weight: 800;
}
.my-target-box1 p{
    margin-bottom: 25px;
}
.my-target-box2 p{
    margin-bottom: 25px;
}
.my-target-box3 p{
    margin-bottom: 25px;
}
.my-target-box1 a{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.my-target-box2 a{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.my-target-box3 a{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
/* my target section ends here */

/* support section starts here */
.support{
    margin: 90px 170px;
    border-radius: 16px;
    padding: 80px 65px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.support-container{
    text-align: center;
}
.support-container h2{
    font-size: 32px;
    font-weight: 800;
    color: white;
    margin-bottom: 28px; 
}
.support-container p{
    color: white;
}
#support{
    width: 550px;
    height: 50px;
    margin-top: 50px;
    border-radius: 8px;
}
#submit{
    font-size: 20px;
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 8px;
}
/* support section ends here */

/* footer section starts here */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 170px;
    margin-top: 70px;
    background-color: rgba(13, 19, 33, 0.03);
}
.footer-text{
    font-size: 18px;
    font-weight: 600;
}
.footer-icons{
    display: flex;
    gap: 25px;
}
/* footer section ends here */